<!DOCTYPE html>

<html lang="sv" xmlns:float="http://www.w3.org/1999/xhtml" xmlns:id="http://www.w3.org/1999/xhtml">

<html lang="sv" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="css.css" rel="stylesheet">
    <title>About us</title>

</head>
<body>
<div class="top-menu clearfix">
    <div id="top-logo">
        <a th:href=@{index}>
            <img src="photos/top-logo-MD.png" alt="övre högra logo">
        </a>
    </div>
    <ul id="menu">
        <li><a th:href="@{players}">Team</a></li>
        <li><a th:href="@{news}">News</a></li>
        <li><a th:href="@{calendar}">Calendar</a></li>
        <li><a th:href="@{pakaaa}">Pakaaa</a></li>
        <li><a th:href="@{photos}">Photo Gallery</a></li>
        <li><a th:href="@{contactinformation}">Contact</a></li>
        <li><a th:href="@{about}">About us</a></li>
        <li><a th:href="@{login}">Log in</a></li>
    </ul>
</div>

<div class="flexgrid-wrapper">
    <div class="flexgrid" id="about">
        <h2>About us</h2>
        <p>Mighty Dronts startades av en grupp likasinnade hockeyspelare. Likasinnade på det sätt att man delade värderingarna om människors lika värde.</p>
        <p>Att mångfald genom kön, religion, nationalitet, sexuell läggning eller ålder är en tillgång för både samhället och ett hockeylag av likasinnade.</p>
        <p>Under åren har gruppen växt och för dryga året sedan, bildades förening. Vi har både nationella och internationella meriter på vårt CV, ett CV vi är stolta över och som växer hela tiden.</p>
        <p>Under våren hade vi äran att få delta i en välgörenhetsmatch för Barncancerfonden och under det kommande året finns långt gångna planer på en välgörenhetsmatch i Sundsvall där vi välkomnar hela kommunen att delta på det sätt ni vill och kan.</p>

    </div>
    <div class="flexgrid">
        <img id="alftafoto" src="https://files.slack.com/files-pri/TB0SX1W0P-FC5DA5ZTM/29433165_1798586630187599_3562491290077713282_n.jpg" alt="Mighty Dronts">
    </div>
</div>

</body>
