<!DOCTYPE html>
<html lang="sv" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="css.css" rel="stylesheet">
    <title>Contact us</title>

    <!DOCTYPE html>
    <html>
    <head>
        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
            th, td {
                padding: 5px;
                text-align: left;
            }
        </style>
    </head>
<body>
<div class="top-menu clearfix">
<div id="top-logo">
    <a th:href=@{index}>
        <img src="photos/top-logo-MD.png" alt="övre högra logo">
    </a>
</div>
<ul id="menu">
    <li><a th:href="@{players}">Team</a></li>
    <li><a th:href="@{news}">News</a></li>
    <li><a th:href="@{calendar}">Calendar</a></li>
    <li><a th:href="@{pakaaa}">Pakaaa</a></li>
    <li><a th:href="@{photos}">Photo Gallery</a></li>
    <li><a th:href="@{contactinformation}">Contact</a></li>
    <li><a th:href="@{about}">About us</a></li>
    <li><a th:href="@{login}">Log in</a></li>
</ul>
</div>

<div class="contact-table">
    <img id="bumper" src="photos/dronts logo 2.png">
    <h1>Contact information</h1>
    <h2>Contact us here</h2>

    <table>
        <tr>
            <th>Email us here</th>
            <td><a href="mailto:someone@example.com?Subject=Hello%20again" target="_top">Send Mail</a></td>
        </tr>
        <tr>
            <th rowspan="2">Social Media</th>
            <td><a href="https://www.facebook.com/MightyDronts/">Visit our Facebookpage</a>/</td>
        </tr>
        <tr>
            <td><a href="https://www.instagram.com/mightydronts/">Visit our Instagram</a>/</td>
        </tr>


    </table>


    <div id="contactinformation"><p>We will reply as soon as possible! Thank you.</p></div>

</div>

</body>
</html>

</head>
<body>
<div class="top-menu clearfix">
</div>
</body>
