<!DOCTYPE html>
<html lang="sv" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="css.css" rel="stylesheet">
    <title>Mighty Dronts</title>

</head>
<body>
<div class="top-menu clearfix">
    <div id="top-logo">
        <a th:href=@{index}>
            <img src="photos/top-logo-MD.png" alt="övre högra logo">
        </a>
    </div>
    <ul id="menu">
        <li><a th:href="@{players}">Team</a></li>
        <li><a th:href="@{news}">News</a></li>
        <li><a th:href="@{calendar}">Calendar</a></li>
        <li><a th:href="@{pakaaa}">Pakaaa</a></li>
        <li><a th:href="@{photos}">Photo Gallery</a></li>
        <li><a th:href="@{contactinformation}">Contact</a></li>
        <li><a th:href="@{about}">About us</a></li>
        <li><a th:href="@{login}">Log in</a></li>
    </ul>
</div>
<div id="Stories">
    <img id="frontphoto" src="photos/pridelogo.png" alt="centerphoto">
    <img id="buttomfront" src="photos/dronts logo 2.png">
</div>
</body>
</html>