<!DOCTYPE html>
<html lang="sv" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:height="http://www.w3.org/1999/xhtml"
      xmlns:wwidth="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="css.css" rel="stylesheet">
    <link rel="stylesheet" href="lightbox.min.css">
    <title>Players</title>
</head>
<body>
<div class="top-menu clearfix">
    <div id="top-logo">
        <a th:href=@{index}>
            <img src="photos/top-logo-MD.png" alt="övre högra logo">
        </a>
    </div>
    <ul id="menu">
        <li><a th:href="@{players}">Team</a></li>
        <li><a th:href="@{news}">News</a></li>
        <li><a th:href="@{calendar}">Calendar</a></li>
        <li><a th:href="@{pakaaa}">Pakaaa</a></li>
        <li><a th:href="@{photos}">Photo Gallery</a></li>
        <li><a th:href="@{contactinformation}">Contact</a></li>
        <li><a th:href="@{about}">About us</a></li>
        <li><a th:href="@{login}">Log in</a></li>
    </ul>
    <table style="width:100%">
        <th style="font-size: xx-large">This is our team:</th>
    </table>

</div>
<div id="Players">
    <div class="playersdiv" th:each="player : ${allPlayers}">
        <a th:href="${player.image}" data-lightbox="players"><img class="fotot" th:src="${player.image}"/></a>
    </div>
</div>
<script src="jquery.min.js"></script>
<script src="lightbox.min.js"></script>
<script>
    lightbox.option({
        'resizeDuration': 200,
        'wrapAround': true
    });
</script>
</body>
